.hero-section {
  padding: 35px 0;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto;
  grid-template-rows: 1fr auto 1fr;
}

.hero-section > img {
  grid-column: 4 / 6;
  grid-row: 1 / span 3;
  width: 85%;
  justify-self: flex-end;
}

.hero-section > h2 {
  grid-column: span 3;
  align-self: flex-end;
  font-size: 48px;
}

.hero-section > p {
  text-align: justify;
  margin-right: 20px !important;
  grid-column: span 3;
  color: var(--primary-gray);
  margin: 18px 0 16px 0;
}

.hero-section > :nth-child(3) {
  grid-row: -2 / -1;
  grid-column: span 1;
}

.hero-section > :nth-child(4) {
  grid-row: -2 / -1;
  grid-column: span 1;
}

/* category start */
.categories-food {
  display: flex;
  overflow: hidden;
  padding: 20px 20px;
  justify-content: space-between;
}

.categories-food > a {
  text-decoration: none;
  color: var(--primary-gray);
}

.blok-categorie {
  display: flex;
  flex-flow: column;
  transition: all ease 0.3s;
  align-items: center;
  gap: 8px;
}

.categorie-image {
  height: 75px;
  width: 170px;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.212);
}
.blok-categorie:hover {
  transform: scale(1.1);
}
.categorie-title {
  font-weight: bold;
  transition: all ease 0.3s;
}

.blok-categorie:hover > .categorie-title {
  color: rgb(0, 153, 255);
}

/* category end */

/* Latest Recipe Start */

.latest-recipes-container {
  margin: 25px 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* column-gap: 15px;
  row-gap: 12px; */
  gap: 12px 15px;
  grid-template-rows: 40px 300px;
}

.latest-recipes-container > :first-child {
  align-self: flex-end;
  font-size: 30px;
}
.latest-recipes-container > :nth-child(2) {
  text-align: right;
  align-self: flex-end;
  grid-column-end: -1;
  color: var(--primary-gray);
  font-weight: bold;
}

.latest-recipes-container > .recipe-card {
  grid-row: 2 / 3;
  transition: all ease 0.3s;
}

.latest-recipes-container > .recipe-card:hover {
  transform: scale(1.07, 1.06);
}

.latest-recipes-container > .recipe-card:hover > span {
  color: rgb(0, 153, 255);
}

.latest-recipes-container > .recipe-card img {
  margin-bottom: 11px;
  width: 100%;
  object-fit: cover;
  height: 90%;
  border-radius: 8px;
}

.latest-recipes-container > .recipe-card span {
  text-align: center;
  font-weight: bold;
  display: block;
  color: var(--primary-dark);
}

/* submit recipe start */
.submit-form {
  padding: 60px 0;
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-items: center;
}

.submit-form > h2 {
  font-size: 48px;
}

.submit-form > p {
  font-size: 20px;
  color: var(--primary-gray);
  margin-bottom: 10px;
}

/* submit recipe end */
